<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">

            <h2> <br></br><br></br>
            <h2>Timothy Dunn</h2>
            <ul class="actions">
                    <li><a href="#about" class="button big alt">About</a></li>
                    <li><a href="#research" class="button big alt">Research</a></li>
                    <li><a href="https://github.com/spoonsso/misc/blob/master/TWD_CV_2019_2p_conf.pdf" class="button big alt">CV</a></li>
                    <li><a href="#contact" class="button big alt">Contact</a></li>
            </ul>
            <br></br><br></br><br></br></h2>
                

            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
